form {
  margin-top: 2.5rem;
}

html {
  scroll-behavior: smooth;
}

#scale-demo {
  /* display: none; */
  position: fixed;
  z-index: 999;
  /* bottom: 4vh; */
  top: 85vh;
  right: 4vw;
  /* width: 4rem; */
}

.crud_form {
  margin-bottom: 3rem;
}

/* ============= Botones ==============*/

/* button > .btn-reset{
  display: none;
} */
.btn-reset {
  width: 100%;
  margin-bottom: 1.5rem;
}

 td > a > i.small.material-icons.edit,
 i.small.material-icons.delete-icon   {
  display: inline;
}
/* .remove-edition {
  display: none;
  width: 100%;
  margin-bottom: 1.5rem;
}
.scale-out {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
} */

.delete-icon {
  /* display: block; */
  color: #2196f3;
}

.edit {
  /* display: block; */
  margin-bottom: 20px;
  color: #2196f3;
}

.submit {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}
/* ================================== */

.table_title {
  margin-bottom: 3rem;
}

.errors ul > li {
  font-weight: 500;
  color: #f44336(250, 231, 231);
}

.container-login {
  height: 100vh !important;
}

.container-register {
  height: 100vh !important;
}

/* .register_text {
    margin-top: 3rem;
} */

/* hr {
    height: 5px;
    border: none;
    background-color: #2196f3;
} */

.alert-container {
  margin-bottom: 20px;
}

.none {
  display: none;
}

.logo-text {
  display: block;
  margin-right: 2rem;
}

.pagination li.active a {
  background-color: #2196f3;
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
}

/* principal container*/

.row > div.container {
  width: 85%;
}
/* principal container */

.table_title > h4 {
  /* padding-top: 2rem; */
  padding-bottom: 1rem;
}

.container-table {
  margin-left: 20px;
}

/* all selector of table */

/* empty database notice  */

.card.empty-database > div {
  padding-top: 50px;
}

.short-description {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* close empty database notice */
