form {
  margin-top: 2.5rem;
}

html {
  scroll-behavior: smooth;
}

#scale-demo {
  position: fixed;
  z-index: 999;
  top: 85vh;
  right: 4vw;
}

.crud_form {
  margin-bottom: 3rem;
}

.bxl-dropbox:before {
  font-size: 8rem;
}

/* ============= Buttons ==============*/

.btn-reset {
  width: 100%;
  margin-bottom: 1.5rem;
}

td > a > i.small.material-icons.edit,
i.small.material-icons.delete-icon {
  display: inline;
}

.delete-icon {
  color: #2196f3;
}

.edit {
  margin-bottom: 20px;
  color: #2196f3;
}

.submit {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}


section.section_table article {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section.section_table article:first-child {
  background-color: #2196f3;
}

section.section_table article:first-child p {
  color: white;
} */

.is-actived {
  background-color: #2196f3;
  color: white;
}

/* ==================================*/

/* .table_title { */
  /* margin-bottom: 3rem; */
/* } */

.errors ul > li {
  font-weight: 500;
  color: #f44336(250, 231, 231);
}

.container-login {
  height: 100vh !important;
}

.container-register {
  height: 100vh !important;
}

.alert-container {
  margin-bottom: 20px;
}

.none {
  display: none;
}

.logo-text {
  display: block;
  margin-right: 2rem;
}

.pagination li.active a {
  background-color: #2196f3;
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
}

/* principal container*/

.row > div.container {
  width: 85%;
}

.table_title > h4 {
  padding-bottom: 1rem;
}

.container-table {
  margin-left: 20px;
}

/* all selector of table */

/* empty database notice  */

.card.empty-database > div {
  padding-top: 50px;
}

.short-description {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
